/*
Колір заголовку #212121 
основний колір тексту #757575
білий колір #FFFFFF
синій колір #2196F3
колір футера адреса і телефона rgba(255, 255, 255, 0.6) 
колір фону 1 секції #2F303A 
*/
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --white-text-color: #ffffff;
  --black-text-color: #000000;
  --footer-adress-color: rgba(255, 255, 255, 0.6);
  --background-color-primary: #ffffff;
  --background-color-secondary: #f5f4fa;
  --background-color-accent: #2f303a;
  --border-color-heder: #ececec;
  --border-color-portfolio: #eeeeee;
  --hero-background-gradient: rgba(47, 48, 58, 0.4);
  --background-color-icon: #afb1bb;
  --background-footer-color-icon: rgba(255, 255, 255, 0.1);
  --background-color-work: rgba(47, 48, 58, 0.8);
  --background-color-example: rgba(33, 150, 243, 0.9);
  --background-color-modal: rgba(0, 0, 0, 0.2);
  --border-color-modal-button: rgba(0, 0, 0, 0.1);
  --transition-cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  background-color: var(--background-color-primary);
  color: var(--title-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

/* header */
header {
  padding: 24px 0;
  border-bottom: 1px solid var(--border-color-heder);
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* site nav */
.nav {
  display: flex;
  align-items: center;
}

.block-nav {
  display: flex;
}

/* logo nav */
.logo-nav {
  margin-right: 93px;

  color: var(--black-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.logo-nav > span {
  color: var(--accent-text-color);
}

/* site nav */
.site-nav .link {
  display: block;

  color: var(--title-text-r);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-cubic-bezier);
}

.site-nav {
  display: flex;
  padding-left: 0;
  gap: 50px;
}

.site-nav .item {
 position: relative;
} 

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-text-color);
}
.site-nav .link::after {
  position: absolute;
  bottom: -32px;
  display: block;
  opacity: 0;
  width: 100%;
  height: 4px;
  background-color: currentcolor;
  border-radius: 2px;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-cubic-bezier);
  content: '';
}

.site-nav .link:hover::after {
  opacity: 1;
}
.site-nav .link.current::after {
  opacity: 1;
}

.site-nav .link.current {
  color: var(--accent-text-color);
}

/* auth nav */
.auth-nav {
  display: flex;
  padding-left: 0;
  margin-left: auto;
  align-items: center;
}

.auth-nav .item + .item {
  margin-left: 50px;
}

.auth-nav .link {
  display: flex;
  align-items: center;
  fill: var(--primary-text-color);
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition-property: color , fill;
  transition-duration: 250ms , 250ms;
  transition-timing-function: var(--transition-cubic-bezier) , var(--transition-cubic-bezier);
}

.auth-nav .svg {
  margin-right: 10px;
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-text-color);
  fill: var(--accent-text-color);
}

/* section decision */
.hero {
  padding: 200px 0;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      var(--hero-background-gradient),
      var(--hero-background-gradient)
    ),
    url(../imeges/hero.jpg);
  background-color: var(--background-color-accent);
}
.hero-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 696px;

  color: var(--white-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}
/*hero-button*/
.hero-button {
  display: flex;
  padding: 10px 32px;
  margin: 0 auto;
  justify-content: center;
  border-radius: 4px;

  color: var(--white-text-color);
  background-color: var(--accent-text-color);
  border-color: transparent;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  text-decoration: none;
  transition-property: color , background-color;
  transition-duration: 250ms , 250ms;
  transition-timing-function: var(--transition-cubic-bezier) , var(--transition-cubic-bezier);
}

.hero-button:hover,
.hero-button:focus {
  color: var(--title-text-color);
  background-color: var(--background-color-secondary);
  border-color: transparent;
}
/* section title */
.advantage-title,
.work-title,
.command-title,
.example-title,
.clients-title {
  margin-bottom: 50px;

  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}
/* section advantage */
.advantage {
  padding: 94px 0px;

  background-color: var(--background-color-primary);
}

.advantage-list {
  display: flex;
  min-width: 270px;
  padding-left: 0;
  margin-left: auto;
  margin-right: auto;
}

.advantage .item + .item {
  margin-left: 30px;
}

.advantage-item-img {
  display: flex;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;

  background-color: var(--background-color-secondary);
  border-radius: 4px;
}

.advantage .title-item {
  margin-bottom: 10px;

  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}
.advantage .text {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
/* section work */
.work {
  padding-top: 0;
  padding-bottom: 94px;
}

.work-list {
  display: flex;
  padding-left: 0;
  gap: 30px;
}

.work-item-thumb {
  position: relative;
}
.work-item-description {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  align-items: center;
  justify-content: center;

  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  background-color: var(--background-color-work);
  color: var(--white-text-color);
}
/* section command */
.command {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--background-color-secondary);
}

.command-list {
  display: flex;
  padding-left: 0;
  text-align: center;
}
.command .item + .item {
  margin-left: 30px;
}

.command .item {
  background-color: var(--white-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.command-list .title-item {
  margin-bottom: 10px;
  padding-top: 30px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.command-list .text {
  padding-bottom: 16px;

  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
}
.command-social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-bottom: 30px;
}

.command-social-link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  fill: var(--background-color-icon);
  background-color: var(--white-text-color);
  transition-property: fill , background-color;
  transition-duration: 250ms , 250ms;
  transition-timing-function: var(--transition-cubic-bezier) , var(--transition-cubic-bezier);
}

.command-social-link:hover,
.command-social-link:focus {
  fill: var(--white-text-color);
  background-color: var(--accent-text-color);

}
/*section client */
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  gap: 30px;
}

.clients-link {
  display: flex;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid var(--background-color-icon);
  border-radius: 4px;
  fill: var(--background-color-icon);
  cursor: pointer;
  transition-property: fill , border-color;
  transition-duration: 250ms , 250ms;
  transition-timing-function: var(--transition-cubic-bezier) , var(--transition-cubic-bezier);
}

.clients-link:hover,
.clients-link:focus {
  fill: var(--accent-text-color);
  border-color: var(--accent-text-color);
}
/* footer */
.footer {
  padding: 60px 0;

  background-color: var(--background-color-accent);
  color: var(--white-text-color);
}
.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;

  color: var(--white-text-color);
  font-family: Raleway, sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.footer-logo > span {
  color: var(--accent-text-color);
}

.footer-adress .link {
  color: var(--footer-adress-color);
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-cubic-bezier);
}

.footer-adress .item {
  margin-right: 70px;
}
.footer-adress .item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-adress .text {
  color: var(--white-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-cubic-bezier);
}

.footer-adress .text:hover,
.footer-adress .text:focus {
  color: var(--accent-text-color);
}

.footer-adress .link:hover,
.footer-adress .link:focus {
  color: var(--accent-text-color);
}
.footer-social-text {
  margin-bottom: 20px;

  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}
.footer-social-list {
  display: flex;
  gap: 10px;
}
.footer-social-link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  fill: var(--white-text-color);
  background-color: var(--background-footer-color-icon);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-cubic-bezier);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-text-color);
}

.mailing-form {
  margin-left: 93px;
}

.mailing-text {
  margin-bottom: 20px;

  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.mailing-input {
  margin-right: 12px;
  padding-left: 16px;
  width: 358px;
  height: 50px;

  color: var(--white-text-color);
  background-color: var(--background-color-accent);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.mailing-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 28px;
  width: 200px;
  height: 50px;
  gap: 10px;

  color: var(--white-text-color);
  background-color: var(--accent-text-color);
  fill: var(--background-color-primary);
  border-color: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition-property: color, background-color, fill;
    transition-duration: 250ms, 250ms, 250ms;
    transition-timing-function: var(--transition-cubic-bezier), var(--transition-cubic-bezier), var(--transition-cubic-bezier);
}

.mailing-button:hover {
  color: var(--title-text-color);
  background-color: var(--background-color-secondary);
  fill: var(--title-text-color);
  border-color: transparent;
}
/* example section*/
.example {
  padding: 94px 0;
}

.button {
  display: inline-block;
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 73px;

  color: var(--title-text-color);
  background-color: var(--background-color-secondary);
  font-family: Roboto, sans-serif;
  border-color: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  transition-property: color , background-color , box-shadow;
  transition-duration: 250ms , 250ms , 250ms;
  transition-timing-function: var(--transition-cubic-bezier) , var(--transition-cubic-bezier) , var(--transition-cubic-bezier);
}

.button:hover,
.button:focus {
  color: var(--white-text-color);
  background-color: var(--accent-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.example .button.current {
  color: var(--white-text-color);
  background-color: var(--accent-text-color);
  border-color: transparent;
}
.button-list {
  display: flex;
  margin-bottom: 50px;
  padding-left: 0;
  justify-content: center;
}
.button-list .item + .item {
  margin-left: 8px;
}

.example-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}

.example-list .item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.example-list .item:nth-child(3n) {
  margin-right: 0;
}

.example-list .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.example-list .link {
  display: block;
  text-decoration: none;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-cubic-bezier);
}

.example-list  .link:hover,
.example-list  .link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.example-item-thumb {
  position: relative;
  overflow: hidden; 
}

.example-item-description {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  color: var(--white-text-color);
  background-color: var(--background-color-example);
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-cubic-bezier);
}
.example-list .link:hover .example-item-description {
  transform: translateY(0);
}

.example-item-title {
  font-size: 18px;
  line-height: 1.55;
}

.example-list .block {
  padding: 20px 24px;
  border-bottom: 1px solid var(--border-color-portfolio);
  border-left: 1px solid var(--border-color-portfolio);
  border-right: 1px solid var(--border-color-portfolio);
}

.example-list .example-title {
  margin-bottom: 4px;

  color: var(--title-text-color);
  text-align: left;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.example-list .text {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

/* hidden title */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Modal */
.backdrop {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 1;
background-color: var(--background-color-modal);
transition-property: opacity , visibility;
transition-duration: 250ms , 250ms;
transition-timing-function: var(--transition-cubic-bezier) , var(--transition-cubic-bezier);

}

 .is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    padding: 40px;
  background-color: var(--background-color-primary);
  overflow: auto;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.modal-close-button {
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  
  border-radius: 50%;
  background-color: var(--background-color-primary);
  border: 1px solid var(--border-color-modal-button);
  cursor: pointer;
}


.modal-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}
.modal-lable {
  display: block;
  margin-bottom: 10px;
}

.modal-span-icon {
  display: block;
  position: relative;
}

.modal-input {
  display: block;
  padding-left: 42px;
  height: 40px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: var(--transition-cubic-bezier);
}

.modal-input:focus {
  outline: none;
  border-color: var(--accent-text-color);
}

.modal-svg {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: var(--transition-cubic-bezier);
}

.modal-input:focus+.modal-svg {
  fill: var(--accent-text-color);
}

.modal-coment-lable {
  display: block;
  margin-bottom: 20px;
}

.modal-coment-textarea {
  display: block;
  padding: 12px 16px;
  width: 100%;
  max-height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: var(--transition-cubic-bezier);
}

.modal-coment-textarea:focus {
  outline: none;
  border-color: var(--accent-text-color);
}
.modal-span-text {
  display: block;
  margin-bottom: 4px;

  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
}

.modal-checkbox {
  display: flex;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}
.modal-span-checkbox {

  color: var(--primary-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}
.modal-span-checkbox a {
  color: var(--accent-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.modal-checkbox-svg {
  margin-right: 7px;

  fill: var(--accent-text-color);
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  transition-property: background-color, border-color;
    transition-duration: 250ms, 250ms;
    transition-timing-function: var(--transition-cubic-bezier), var(--transition-cubic-bezier);
}

.checkbox-input:checked ~ .modal-checkbox-svg {
  background-color: var(--accent-text-color);
  border-color: var(--accent-text-color);
}


.modal-submit-button {
  display: flex;
    padding: 8px 50px;
    margin: 0 auto;
    justify-content: center;
    border-radius: 4px;
  
    color: var(--white-text-color);
    background-color: var(--accent-text-color);
    border-color: transparent;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;
    text-decoration: none;
    transition-property: color, background-color;
    transition-duration: 250ms, 250ms;
    transition-timing-function: var(--transition-cubic-bezier), var(--transition-cubic-bezier);
  }
  
  .modal-submit-button:hover,
  .modal-submit-button:focus {
    color: var(--title-text-color);
    background-color: var(--background-color-secondary);
    border-color: transparent;
}