.advantage {

}

.advantage-studio__img {
    display: flex;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;

    background-color: var(--background-color-secondary);
    border-radius: 4px;
}

.advantage-studio__title {
    margin-bottom: 10px;

    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
}

.advantage-studio__text {
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}