.command {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--background-color-secondary);
}

.command__title {
    margin-bottom: 50px;

    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
}

.command__list {
    display: flex;
    padding-left: 0;
    text-align: center;
    list-style: none;
    gap: 30px;
}
