.foter-contact {

}

&__list {
    list-style: none;
}

&__logo {
    display: block;
    margin-bottom: 20px;

    color: var(--white-text-color);
    font-family: Raleway, sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

&__lable {
    color: var(--accent-text-color);
}

&__link {
    color: var(--footer-adress-color);
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--transition-cubic-bezier);
}

&__link:hover,
&__link:focus {
    color: var(--accent-text-color);
}

&__item {
    margin-right: 70px;
}

&__item:not(:last-child) {
    margin-bottom: 9px;
}

&__text {
    color: var(--white-text-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--transition-cubic-bezier);
}

&__text:hover,
&__text:focus {
    color: var(--accent-text-color);
}